.mat-dialog-content {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.mat-selection-list, .mat-form-field {
    flex: 0 0 100%;
    &.date-input {
        flex: 0 0 45%;
    }
}
owl-date-time {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
}
.mat-dialog-actions {
	display: flex;
	justify-content: flex-end;
}

