<!DOCTYPE html>
<html>
  <head>
    <title>My workout app</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
  	<header>
  		<h1>NO PAIN NO GAIN</h1>
  	</header>
  	<section id="wrapper">
    	{{{body}}}
    </section>
    <script type="text/javascript" src="/javascripts/workouts.js"></script>
  </body>
</html>
