div.main-content {
	width: 35%;
	margin: auto;
	text-align: center;
	height: 100%;
	.mat-spinner {
		margin: auto;
	}
}
.mat-sidenav-container, .my-content {
	margin: 0;
	width: 100%;
	height: calc(100% - 64px);
}
.mat-sidenav {
	width: 200px;
	transform: translateX(0);
	box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.mat-toolbar {
	transform: translateX(0);
	box-shadow: 0 3px 6px rgba(0,0,0,.24);
	position: relative;
	z-index: 10;
}
.mat-list-item {
	background-color: white;
	&:hover {
		background-color: lightgrey;
		cursor: pointer;
	}
	span.user-wrapper {
		font-family: Helvetica;
		flex: 1 1 auto;
		margin-left: 20px;
	}
	span.active-status {
		flex: 0 0 auto;
		width: 6px;
		height: 6px;
		border-radius: 6px;
		background-color: red;
		margin-right: 5px;
	}
	span.active-status.active {
		background-color: lime;
	}
}

