div.main-content {
	width: 100%;
	margin: auto;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.mat-spinner {
		flex: 0 0 auto;
	}
	.welcome-block {
		font-size: 25px;
		font-family: Tahoma, Verdana, Segoe, sans-serif;
	}
	conversation, group-conversation {
		width: 100%;
		height: 100%;
	}
}
.mat-sidenav-container {
	margin: 0;
	width: 100%;
	height: calc(100% - 64px);
	.mat-sidenav {
		width: 300px;
		box-shadow: 3px 0 6px rgba(0,0,0,.24);
		background-color: #fafafa;
	}
}

.mat-toolbar {
	transform: translateX(0);
	box-shadow: 0 3px 6px rgba(0,0,0,.24);
	position: relative;
	z-index: 10;
}

new-group {
	width: 50%;
}


