body {
	background-color: lightsteelblue;
	width: 50%;
	margin: auto;
}
body > header {
	background-color: deepskyblue;
}

#wrapper {
	background-color: lightblue;
}

.workout {
	background-color: blue;
	margin: 10px 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.workout > header {
	color: white;
	padding: 0.5em 1em;
	font-size: 1.1em;
}

.workout > header > time {
	font-size: xx-small;
}

.workout > div {
	display: block;
	padding: 1.5em;
}
.workout-table {
	width: 100%;
	text-align: center;
	border: 1px solid white;
	border-collapse: collapse;
}
.workout-table > thead > tr > th {
	background-color: grey;
	color: maroon;
	border: 1px solid white;
}
.workout-table > tbody > tr > td {
	background-color: lightblue;
	color: grey;
	border: 1px solid white;
}



 hr {
 	border-width: 1px;
 }
.workout > div.collapsed {
	display: none;
}

