.mat-card {
	width: 22%;
	margin: 10vh auto 20px auto;
	img {
		width: 100%;
		height: 150px;
		margin-bottom: 20px;
	}
}
.mat-spinner {
	margin: auto;
	width: 50px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	button {
		margin-top: 10px;
		flex: 1 0 auto;
	}
	span {
		margin-top: 10px;
		flex: 0 0 100%;
		align-self: center;
		text-align: center;
		color: lightgrey;
	}
}

.mat-form-field {
	flex: 0 0 100%;
}