<div class="top-spacer"></div>
<mat-card>
	<a routerLink="register">Sign up</a>
	<h1>Hello!</h1>
	<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
		<mat-form-field>
		  <input matInput placeholder="Login" name="username" autofocus ngModel [disabled]="isLoggingIn" required>
		</mat-form-field>
		<mat-form-field>
		  <input matInput placeholder="Password" type="password" name="password" ngModel [disabled]="isLoggingIn" required>
		</mat-form-field>
		<button mat-raised-button color="primary" type="submit">Login</button>
	</form>
</mat-card>

<mat-spinner *ngIf="isLoggingIn" [diameter]="50"></mat-spinner>