.mat-toolbar {
	transform: translateX(0);
	box-shadow: 0 3px 6px rgba(0,0,0,.24);
	position: relative;
	z-index: 10;
	.toolbar-spacer {
		flex: 1 1 auto;
    }
    mat-icon { 
        color: rgba(0, 0, 0, 0.3);
        margin: 0 10px;
        &:hover {
            color: rgba(255, 255, 255, 0.87);
            cursor: pointer;
        }
    }
    .user-wrapper {
        display: flex;
        align-items: center;
        img {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            margin: 0px 10px;
        }
    }
}