<mat-dialog-content>
  <div class="event-details-row">
    <span class="event-shortdate">{{data.event.beginTime | date:'MMM d'}}</span>
    <span class="event-title">{{data.event.title}}</span>
  </div>
  <hr>
  <div class="event-details-row">
    <mat-icon class="event-details-icon">access_time</mat-icon>
    <span class="event-date">{{data.event.beginTime | date:'longDate'}} - {{data.event.endTime | date:'longDate'}}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>