@import "~/fullcalendar/dist/fullcalendar.min.css";


.mat-sidenav-container {
	margin: 0;
	width: 100%;
	height: calc(100% - 64px);
	.mat-sidenav {
		width: 300px;
		box-shadow: 3px 0 6px rgba(0,0,0,.24);
		background-color: #fafafa;
		overflow-x: hidden;
    }
    div.main-content {
        width: 100%;
        text-align: center;
        height: calc(100% - 64px);
        display: flex;
		flex-wrap: wrap;
        ng-fullcalendar {
            flex: 1 1 auto;
            height: 100%;
			box-sizing: border-box;
			overflow: hidden;
        }
    }
}

.mat-toolbar {
	box-shadow: 0 3px 6px rgba(0,0,0,.24);
	position: relative;
	z-index: 10;
	.toolbar-spacer {
		flex: 1 1 auto;
	}
}
.nav-event-section {
	display: flex;
	flex-direction: column;
	h5 {
		margin-left: 22px;
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		color: grey;
	}
	.nav-row {
		background-color: #fafafa;
		display: flex;
		flex-direction: column;
		padding: 8px 12px;
		font-size: 16px;
		span.nav-text-wrapper {
			font-family: Helvetica;
			flex: 0 0 100%;
			margin-left: 10px;
		}
		span.nav-date-wrapper {
			flex: 0 0 100%;
			margin-left: 10px;
			color: grey;
			font-size: 12px;
		}	
	}
}

