<app-toolbar text="AwesomeCalendar" [user]="user">
</app-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" disableClose="true" opened="true">
        <owl-date-time inline="true" type="calendar" (onSelect)="onDateSelect($event)">
        </owl-date-time>
        <div class="nav-event-section">
            <h5>UPCOMING EVENTS</h5>
            <div class="nav-row" *ngFor="let event of events" >
                <span class="nav-date-wrapper">{{event.beginTime | date:'medium'}}</span>
                <span class="nav-text-wrapper">{{event.title}}</span>
            </div>
        </div>
  </mat-sidenav>
  <mat-toolbar>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="primary" (click)="onNewEventClick()">
            Add event
            <mat-icon>add</mat-icon>
        </button>
  </mat-toolbar>
  <div class="main-content" *ngIf="!isLoading">
    <ng-fullcalendar #calendar [options]="calendarOptions"></ng-fullcalendar>
  </div>
</mat-sidenav-container>