<div class="top-spacer"></div>
<mat-card>
	<a routerLink="">Login</a>
	<h1>Sign up!</h1>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<mat-form-field>
	  		<input matInput placeholder="Username" autofocus formControlName="username">
		</mat-form-field>
		<mat-form-field>
	  		<input matInput placeholder="Password" type="password" name="password" formControlName="password">
		</mat-form-field>
		<mat-form-field>
	  		<input matInput placeholder="E-mail" type="email" name="email" formControlName="email">
		</mat-form-field>
		<input type="file" name="avatar" (change)="onFileChange($event)" accept="image/*">
		<button mat-raised-button color="primary" type="submit">Register</button>
	</form>
</mat-card>